@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import "bootstrap";

.clear {
  clear:both;
}

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg); /* IE 9 */
  -webkit-transform: rotate(11deg); /* Opera, Chrome and Safari */

}

.slogan {
  font-family: 'Merriweather', serif;
  font-style: italic;
  padding-top: 26px;
 }

 .links{
  padding-top: 26px;
 }

 .links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #1F7ADE;
  font-family: 'fontspring_demo_-_sofia_proRg';
  font-weight: bold;

 }

 header {
  border-top: 9x solid #DE831F;
 }

 hr {
  clear:both;
 }

 h1 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 48px;
   }

 h2 {
  font-family: 'Merriweather', serif;
  
  }

  .next-quote {
  color: #DE3D1F;
  font-family: 'fontspring_demo_-_questaIt';
  font-size: 20px;


  }

  .footer-blurb {
    font-family: 'Merriweather', serif;
    font-style: italic;
    text-align: right;
    font-size: 10px;


  }

  .logo:hover {
  text-decoration: none;
  }

  .about {
  font-family: 'Merriweather', serif;

  }


